.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    visibility: hidden;
}

.newPostForm {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    z-index: 200;
    visibility: hidden;
}

.postImageOuter {
    position: relative;
    border: 0.5px solid rgb(131, 131, 131);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.postImageOuter img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.postOverlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.postImageOuter:hover .postOverlay {
    visibility: visible;
}